@use "../../../../styles/abstracts/colors" as *;
.documentation-section {
  padding: 32px 0;
  border-bottom: 1px solid $border-secondary;
  scroll-margin-top: 24px;

  .desc {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .documentation-section {
    padding: 24px 0;
  }
}
