@use "../../../../styles/abstracts/colors" as *;

.integrations-auth-form {
  border: 1px solid $border;

  .ant-card-body {
    padding: 0;
  }

  .header {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 10px 10px 0px 0px;
    padding: 16px 0px;
    background: $background-layout;

    .header-title {
      margin: 0;
    }
    .header-description {
      margin: 0;
    }
  }

  .form {
    margin: 16px 32px;

    .input {
      min-height: 40px;
    }

    .api-key-help {
      font-size: 12px;
    }
    .form-actions {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media (max-width: 576px) {
  .integrations-auth-form {
    .header {
      padding: 16px 8px;
      .header-description {
        text-align: center;
      }
    }
  }
}
