.integrations-header {
  margin-bottom: 32px;

  .btn {
    padding-left: 0;
    &:hover {
      background: transparent !important;
    }
  }

  .integrations-header-content {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;

    .header-label {
      .label-title {
        margin: 0;
      }

      .label-description {
        margin: 0;
      }
    }
  }
}

@media (max-width: 576px) {
  .integrations-header {
    .integrations-header-content {
      flex-direction: column;
    }
  }
}
