@use "../../../../styles/abstracts/colors" as *;

.overview-stat-card {
  height: 100%;
  border: 1px solid $border;
  border-radius: 10px;

  &__total-workflows {
    background-color: #76c457 !important;
  }

  &__active-workflows {
    background-color: #ffcb56;
  }

  &__templates {
    background-color: #30afff;
  }

  &__integrations {
    background-color: #e63946;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
  }

  &__value {
    margin-bottom: 8px;
    font-size: 28px;
    font-weight: 700;
    color: white;
  }

  &__description {
    font-size: 12px;
    color: white;
  }
}
