@use "../../../../styles/abstracts/colors" as *;

.setting-page {
  padding: 0px 20px;
  min-width: 256px;

  .settings-tabs {
    margin-top: 32px;

    .ant-tabs-nav {
      margin-bottom: 28px;
      &::before {
        border-bottom: 1px solid $border;
      }
    }

    .ant-tabs-tab {
      padding: 12px 20px;
      color: $text-secondary;
      font-size: 14px;
      font-weight: 600;
      transition: all 0.2s ease;

      &:hover {
        color: $primary;
      }
    }

    .ant-tabs-ink-bar {
      height: 4px;
      border-radius: 3px 3px 0 0;
    }
  }
}
