@use "./antd/table";
@use "./antd/dropdown";
@use "./antd/button";
@use "./antd/sidebar_menu";
@use "./components/common/app_modal";
@use "./components/common/coming_soon";
@use "./components/common/not_found";
@use "./pages/not_found_page";

.input-search {
  width: 280px;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: "Ubuntu", sans-serif;
  // letter-spacing: 0.5px;
}
