@use "../../../../styles/abstracts/colors" as *;

.appearance-settings {
  width: 100%;
  .appearance-grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 380px;
    gap: 24px;
    align-items: flex-start;
  }

  .appearance-settings-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  // theme selector
  .theme-card {
    border: 1px solid $border;
    border-radius: 10px;
    padding: 24px;
    min-width: 256px;

    .theme-card-header {
      margin-bottom: 24px;
      .header-title {
        margin: 0 0 6px 0;
        color: $text;
        font-size: 18px;
        font-weight: 700;
      }
      .header-description {
        margin: 0;
      }
    }

    .theme-options {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 16px;

      .radio-btn {
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $border;
        border-radius: 10px;
        transition: all 0.2s ease;

        &::before {
          display: none;
        }

        &:hover {
          color: $primary;
          background: $primary-bg;
          border-color: $primary;
        }

        &.selected {
          color: $primary;
          background: $primary-bg;
          border-color: $primary;
        }
      }

      .theme-option-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        font-weight: 600;

        svg {
          font-size: 28px;
        }
      }
    }
  }

  // color selector
  .color-card {
    border: 1px solid $border;
    border-radius: 10px;
    padding: 24px;
    min-width: 256px;

    .color-card-header {
      margin-bottom: 24px;
      .header-title {
        margin: 0 0 6px 0;
        color: $text;
        font-size: 18px;
        font-weight: 700;
      }
      .header-description {
        margin: 0;
      }
    }

    .color-settings {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &:not(:last-child) {
        margin-bottom: 28px;
      }

      .color-options {
        width: 40px;
        height: 40px;
        padding: 0;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        outline: 3px solid transparent;
        outline-offset: 3px;
        transition: all 0.2s ease;

        &:hover {
          transform: scale(1.08);
        }

        &.selected {
          outline-color: $primary-bg;
          border: 12px solid $border;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .appearance-settings {
    .theme-card {
      .theme-options {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media (max-width: 767px) {
  .appearance-settings {
    .theme-card {
      .theme-options {
        grid-template-columns: 1fr;
      }
    }
  }
}
