@use "../../../../styles/abstracts/colors" as *;

.reset-password-form {
  margin-top: 32px;
  border: 1px solid $border;
  width: 100%;

  .form {
    .ant-form-item-explain-error {
      margin-top: 4px !important;
      font-size: 12px !important;
    }

    .label {
      font-size: 14px;
      font-weight: 600;
    }

    .input {
      min-height: 40px;
    }
  }

  .reset-password-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;

    .btn {
      margin: 20px 0px;
    }
  }
}

@media (max-width: 576px) {
  .reset-password-form {
    .form {
      .ant-form-item-explain-error {
        font-size: 8px !important;
      }

      .label {
        font-size: 10px;
      }

      .input {
        font-size: 10px;
      }
    }
  }
}
