@use "../../abstracts/colors" as *;

.app-modal {
  .app-modal-container {
    padding: 0 !important;
    overflow: hidden;
    border-radius: 12px;
  }

  .app-modal-header {
    margin: 0 !important;
    padding: 20px 24px !important;
    background: $background-layout;
    border-bottom: 1px solid $border;
  }

  .app-modal-title {
    margin: 0 !important;
    font-size: 20px !important;
    font-weight: 700;
  }

  .app-modal-body {
    padding: 24px !important;
  }

  .app-modal-close {
    top: 18px !important;
    right: 20px !important;
    width: 32px;
    height: 32px;
    color: $background-mask;
    border-radius: 8px;
    background: none !important;

    &:hover {
      color: $primary !important;
    }

    svg {
      font-size: 20px;
    }
  }
}

@media (max-width: 767px) {
  .app-modal {
    width: calc(100vw - 32px) !important;

    .app-modal-container {
      border-radius: 10px;
    }

    .app-modal-header {
      padding: 16px 18px !important;
    }

    .app-modal-body {
      padding: 18px !important;
    }

    .app-modal-title {
      font-size: 16px !important;
    }

    .app-modal-close {
      top: 12px !important;
      right: 12px !important;

      width: 30px;
      height: 30px;

      svg {
        font-size: 18px;
      }
    }
  }
}
