.overview-page {
  width: 100%;
  min-width: 248px;

  .overview-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
    text-align: center;

    .img {
      width: 320px;
      height: 320px;
    }
  }
}

@media (max-width: 567px) {
  .overview-page {
    .overview-content {
      .img {
        width: 220px !important;
        height: 220px !important;
      }
    }
  }
}
