.workflow-trigger {
  width: 100%;

  .trigger-header {
    margin-bottom: 16px;

    .title-header {
      font-size: 14px;
      line-height: 4px;
    }
    .description-header {
      font-size: 12px;
    }
  }

  .trigger-options {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
  }

  .trigger-card {
    width: 100%;
    min-height: 116px;
    margin: 0;
    // padding: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: white;
    border: 1px solid #cbd5e1;
    border-radius: 10px;

    transition:
      border-color 0.2s ease,
      background 0.2s ease,
      box-shadow 0.2s ease;

    &:hover {
      border-color: #4f46e5;
      background: #fafbff;
      transform: translateY(-2px);
    }

    &.selected {
      border: 2px solid #4f46e5;

      .trigger-icon {
        color: #ffffff;
        background: #4f46e5;
      }
    }
  }

  .trigger-option-layout {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .trigger-icon {
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f9ff;
    border-radius: 12px;
    color: #4f46e5;
    font-size: 24px;
    transition: all 0.2s ease;
  }

  .trigger-option-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;

    .ant-typography {
      margin: 0;
    }

    .ant-typography:first-child {
      font-size: 18px;
      font-weight: 700;
      color: #0f172a;
    }

    .ant-typography:last-child {
      font-size: 14px;
      line-height: 1.5;
      color: #64748b;
    }

    .trigger-option-description {
      height: 68px !important;
    }
  }

  .trigger-error {
    margin-top: 4px;
    color: #ff4d4f;
    font-size: 12px;
  }
}

@media (max-width: 991px) {
  .workflow-trigger {
    .trigger-options {
      grid-template-columns: 1fr;
    }
  }
}
