@use "../../../../styles/abstracts/colors" as *;

.template-preview-page {
  width: 100%;
  min-width: calc(1199px - 200px);

  &__canvas {
    width: 100%;
    height: 512px;
    margin-top: 24px;
    overflow: hidden;
    background: $background;
    border: 1px solid $border-secondary;
    border-radius: 10px;
  }
}
